.banner {
  justify-content: space-around;
  padding-block: 100px;
}

.banner-right > img {
  width: 110%;
}

.banner-left {
  align-self: center;
  font-size: 2.5rem;
  font-weight: 500;
}

.diff-color {
  color: aqua;
}
